snippet #inc "#include directive" b
#include <${1:stdio.h}>
endsnippet

snippet header "Header format" b
#ifndef ${1:`!v toupper(expand("%:t:r"))`_H}
#define $1

$0

#endif /* #ifndef $1 */
endsnippet

snippet main "main()" b
int main(void)
{
  $0
  return 0;
}
endsnippet

snippet maina "main() with arguments" b
int main(int argc, char **argv)
{
  $0
  return 0;
}
endsnippet

snippet struct "Struct typedef" b
typedef struct {
  $2
} $1;
endsnippet
